.env
.env.production
.next
node_modules
dist
cache
/heroku-setup
/yarn-error.log
/@app/e2e/cypress/videos
/@app/e2e/cypress/screenshots
/@app/graphql/index.*
/@app/graphql/introspection.json
.agignore
*.tsbuildinfo
.ethereal
yarn-error.log
.DS_Store
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
