@import url("https://fonts.googleapis.com/css?family=Raleway:regular,bold,italic&subset=latin,latin-ext");
@import "antd/lib/style/themes/default.less";
@import "buttons.less";
@import "keyframes.less";

:root {
  // Work around for using less variables in react code.
  // Example usage: style={{ backgroundColor: "var(--primary-color) }}"
  --primary-color: @primary-color;
}

.ant-layout-sider-zero-width-trigger-left {
  // positioning and color for responsive admin sider collapse trigger
  top: 0px !important;
  background: @primary-color !important;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}
