<mjml>
  <mj-head>
    <mj-font
      name="Raleway"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <mj-attributes>
      <mj-all font-family="'Raleway', Helvetica, Arial, sans-serif"> </mj-all>
      <mj-class
        name="bold-text"
        align="center"
        font-size="16px"
        font-weight="bold"
      />
      <mj-class
        name="small-text"
        align="center"
        font-size="11px"
        color="#445566"
      />
      <mj-class name="background" background-color="#e7e7e7" />
      <mj-class name="blue-section" background-color="#002e7d" />
      <mj-class name="white-section" background-color="#fff" />
    </mj-attributes>
    <mj-style inline="inline">
      .body-section { -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 4px
      11px 0px rgba(0, 0, 0, 0.15); }
    </mj-style>
  </mj-head>
  <mj-body mj-class="background">
    <mj-section
      padding-bottom="0"
      background-url="https://static.prodeko.org/static/images/backgrounds/bg-white.jpg"
    >
      <mj-column width="100%">
        <mj-image
          src="https://static.prodeko.org/static/images/logos/prodeko-logo-text-blue.png"
          width="200px"
          padding-top="0"
          padding-bottom="15px"
        />
      </mj-column>
    </mj-section>

    <mj-section mj-class="blue-section">
      {% block headerContent %}{% endblock %}
    </mj-section>

    <mj-wrapper padding-top="0" padding-bottom="0" css-class="body-section">
      <mj-section
        mj-class="white-section"
        padding-left="15px"
        padding-right="15px"
      >

      {% block content %}{% endblock %}

      </mj-section>
    </mj-wrapper>

    <mj-wrapper full-width="full-width">
      <mj-section>
        <mj-column width="100%" padding="0">
          <mj-text
            mj-class="small-text"
            font-size="11px"
            align="center"
            line-height="16px"
          >
            {{ legalText }}
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
