{% extends "base.mjml.njk" %}

{% block content %}
<mj-column width="100%">
  <mj-text mj-class="bold-text" padding="30px">
    Someone (hopefully you) tried to reset your password for {{ url }},
    but no account is registered for this email address.
  </mj-text>
  <mj-text mj-class="text">
    This message is purely for your information. No action is required.
  </mj-text>
</mj-column>
{% endblock %}
